:root {
    --bgColor1: #0C0C0F;
    --mainBoxColor: #080808;
    --guiBoxColor: #131417;
    --resistorsColor: #2b2c31;
    --textColor: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Sometype Mono', monospace;
}

#navbar {
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 7dvh;
    background-color: var(--bgColor1);
}
#navbar h1 {
    letter-spacing: 15px
}
header {
    background-color: var(--bgColor1);
}
footer {
    background-color: var(--bgColor1);
}

body.show-password {
    --bgColor1: #F6F8FA;
    --mainBoxColor: #FFFFFF;
    --guiBoxColor: #F6F8FA;
    --resistorsColor: #d1d1d1;
    --textColor: black;
}

.main-box {
    height: 88dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainBoxColor);
}
.gui-box {
    height: 500px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #00000033;
    background-color: var(--guiBoxColor);
    border: 5px solid var(--resistorsColor);
    border-radius: 4px;
}
.resistor-box{
    display: flex;
    max-width: 95%;
    align-items: center;
    justify-content: center;
}
.resistor {
    height: 125px;
    width: 400px;
    background-color: var(--resistorsColor);
    display: flex;
    justify-content: space-around;
}
.resistor2 {
    height: 175px;
    width: 150px;
    display: flex;
    justify-content: end;
    padding-right: 28px;
    border-radius: 28px;
    background-color: var(--resistorsColor);
    box-shadow: 0px 0px 10px var(--mainBoxColor);
    z-index: 1;
}
.band {
    height: 100%;
    width: 35px;
    background-color: var(--mainBoxColor);
    position: relative;
    box-shadow: 0px 0px 5px var(--mainBoxColor);
    
}


.results-box {
    color: var(--textColor);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
.result-box {
    border: 2px solid var(--resistorsColor);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    background-color: var(--mainBoxColor);
}

.calculate {
    background-color: var(--mainBoxColor);
    border: none;
    color: var(--textColor);
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--resistorsColor);
    /* transition-duration: 0.4s; */
}
.calculate:hover {
    background-color: #7f7f83;
    
}


.footer {
    color: var(--textColor);
    background-color: var(--bgColor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5dvh;
    padding: 0 20px;
}

select{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    appearance: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 0 10px;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

option {
    background: #7f7f83;
    font-size: 0.5rem;
    
}


.footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.footer ul li {
    padding: 0 10px;
}
.footer ul li i {
    color: var(--textColor);
}
.footer ul li i:hover {
    cursor: pointer;
    color: #7F7F83;
}

#light-mode {
    cursor: pointer;
    height: 2rem;
    padding: 5px;

}


